<html>
{% extends 'base.html' %}
{% block title %}Edytuj wizytę{% endblock %}
{% block content %}
<div class="container-fluid">
    <script type="text/javascript">
        $(function() {
            $('#datetimepicker1').datetimepicker({ format: 'DD.MM.YYYY HH:mm' });
            $('#datetimepicker2').datetimepicker({ format: 'DD.MM.YYYY HH:mm' });
        });
    </script>
</div>
<div class="container-fluid">
    <div class="page-header">
        {% if not msg %}
        <h3>Zmień czas pobytu na placyku:</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <form action="{% url 'edit_visit' visit.id %}" method='post'>
                {{form}}<br>
                <button type="submit" class="btn btn-info">Wyślij</button>
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
    </div>
    {% if msg %}
    <div class="alert alert-success">{{msg}}</div>
    {% endif %}
</div>
{% endblock %}
</html>


