{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a href="{% url 'home_login' %}" class="navbar-brand">Placyk.pl</a>
       </div>
       <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Strona główna</a></li>
              <li><a href="{% url 'add_visit' user.id %}">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp; Ja też będę!</a></li>
              <li><a href="{% url 'user_site' user.id %}">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Moja strona</a></li>
              <li><a href="{% url 'user_messages' user.id %}">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Moje wiadomości</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'logout' user.id %}">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Wyloguj się</a></li>
          </ul>
       </div>
    </div>
</div>
<div class="container-fluid">
    <div class="page-header">
        <h3><small>Na placykach w dzielnicy</small> {{quarter.name}}</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <dt>{% for pground, current_visits in current_visits.items %}
                <dd><h3>{{pground.place}}</h3></dd>
                    {% for visit in current_visits %}
                <dd>Użytkownik: <mark>{{visit.who}}</mark> na placyku od: {{visit.time_from}}
                    do: {{visit.time_to}} {{visit.pground}} <a href="{% url 'new_message' visit.who.id %}">Wyślij wiadomość</a></dd>
                    {% for visit, this_visits in current_visits.items %}
                        {% for child in this_visits %}
                            {{child.name}} {{child.age}} lata,
                        {% endfor %}
                    {% endfor %}
                        <!--{{user.parent.children.count}} sztuka-->
                    {% empty %}
                        <p>Póki co nie ma bieżących wizyt na tym placyku, bądź pierwszy:)</p>
                    {% endfor %}
                {% endfor %}
            </dt>
        </div>
    </div>
</div>
{% endblock %}
