{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-left">
            <p>{{msg}}</p>
            <a href="/register/">Zarejestruj się</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-left">
            <form action="{% url 'login' %}" method = 'post'>
                {{form}}
                {% csrf_token %}
                <input type='submit', value="Wyślij">
            </form>
        </div>
    </div>
</div>
{% endblock %}



