{% extends 'base.html' %}
{% block title %}Wyloguj się{% endblock %}
{% block content %}
<div class="navbar navbar-default">
    <div class="container-fluid">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a href="{% url 'home' %}" class="navbar-brand">Placyk.pl</a>
       </div>
       <div class="collapse navbar-collapse" id="topNavBar">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'login' %}">
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Zaloguj się</a></li>
          </ul>
       </div>
    </div>
</div>
<div class="container-fluid">
    {% if msg %}
        <div class="alert alert-success">{{msg}}</div>
    {% endif %}
</div>
{% endblock %}