{% extends 'base.html' %}
{% block title %}Nowa wiadomość{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if not msg %}
            <form action="{% url 'new_message' user.id %}" method = 'post'>
                {{form}}
                <button class="btn btn-info" data-toggle="modal" data-target="#popUpWindow">Wyślij</button>
                <div class="modal fade" id="popUpWindow">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h3>Wysłałeś wiadomość!</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
    </div>
    {% if msg %}
        <div class="alert alert-danger">{{msg}}</div>
    {% endif %}
</div>
{% endblock %}