{% extends 'base.html' %}
{% block title %}<title>Rejestracja dziecka</title>{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>Zarejestruj dzieci:</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-left">
            <form action="{% url 'register_child' user.id %}" method = 'post'>
                {{form}}
                <button type='submit' name='submit' value="add" >Dodaj kolejne dziecko</button>
                <button type='submit' name='submit' value="finish" >Zakończ rejestrację dzieci</button>
                {% csrf_token %}
            </form>
            {{msg}}
        </div>
    </div>
</div>
{% endblock %}

