{% extends 'base.html' %}
{% block title %}<title>Zmien hasło</title>{% endblock %}
{% block content %}
    <form action="{% url 'reset_password' user.id %}" method = 'post'>
        {{form}}
        <input type='submit' value="Wyślij">
        {% csrf_token %}
    </form>
    {{msg}}<br>
    {% if msg %}
        <a href='/home_login'>Strona główna</a>
    {% endif %}
{% endblock %}

<!--
<html>
{% if not msg %}
<form action="{% url 'new_message' user.id %}" method = 'post'>
        {{form}}
    <input type='submit' value="Wyślij">
    {% csrf_token %}
</form>
{% endif %}
{{msg}}
</html>-->