{% extends 'base.html' %}
{% block title %}<title>Wiadomości</title>{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>Wszystkie wiadomości użytkownika {{user.username}}:</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-left">
            <h4>Odebrane</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left">
            <h5><strong>Od:</strong></h5>
        </div>
        <div class="col-md-2 text-left">
            <h5><strong>z dnia:</strong></h5>
        </div>
        <div class="col-md-6 text-left">
            <h5><strong>Wiadomość:</strong></h5>
        </div>
    </div>
    {% for message in messages_received %}
        <div class="row">
            <div class="col-md-1 text-left">
                <p>{{message.sender}}</p>
            </div>
            <div class="col-md-2 text-left">
                <p>{{message.creation_date}}</p>
            </div>
            <div class="col-md-6 text-left">
                <p><a href='/details_message/{{message.id}}'>{{message.content|truncatechars:20}}</a></p>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12 text-left">
            <h4>Wysłane</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left">
            <h5><strong>Do:</strong></h5>
        </div>
        <div class="col-md-2 text-left">
            <h5><strong>z dnia:</strong></h5>
        </div>
        <div class="col-md-6 text-left">
            <h5><strong>Wiadomość:</strong></h5>
        </div>
    </div>
    {% for message in messages_sent %}
        <div class="row">
            <div class="col-md-1 text-left">
                <p>{{message.receiver}}</p>
            </div>
            <div class="col-md-2 text-left">
                <p>{{message.creation_date}}</p>
            </div>
            <div class="col-md-6 text-left">
                <p><a href='/details_message/{{message.id}}'>{{message.content|truncatechars:20}}</a></p>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="row">
        <div class="col-md-12 text-left">
            <p><a href='/home_login'>Strona główna</a></p>
        </div>
    </div>
</div>
{% endblock %}

