{% extends 'base.html' %}
{% block title %}Moja strona{% endblock %}
{% block nav-user %}
<li class="dropdown active">
    <a href="{% url 'user_site' user.id %}" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Moja strona <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'reset_password' user.id %}">
            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp; Zmień hasło</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h3>Twoje pobyty na placykach, {{user.username}}:</h3>
    </div>
</div>
<div class="container-fluid">
    {% for visit in visits %}
    <ul class="list-group">
        <li class="list-group-item">{{visit.pground}} Od: {{visit.time_from}} Do: {{visit.time_to}} <a
                href="{% url 'delete_visit' visit.id %}">Skasuj</a> <a href="{% url 'edit_visit' visit.id %}">Zmień czas
            pobytu</a>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}









