{% extends 'base.html' %}
{% block title %}Moje wiadomości{% endblock %}
{% block nav-messages %}
<li class="active">{% endblock %}

    {% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h3>Twoje wiadomości, {{user.username}}:</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="background: lightgray;"><h4>Odebrane</h4></div>
        </div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>
                    Od:
                </th>
                <th>
                    Wiadomość:
                </th>
                <th>
                    Z dnia:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages_received %}
            <tr>
                <td>
                    {{message.sender}}
                </td>
                <td>
                    <a href="{% url 'details_message' message.id %}">{{message.content|truncatechars:25}}</a>
                </td>
                <td>
                    {{message.creation_date}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="background: lightgray;"><h4>Wysłane</h4></div>
        </div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>
                    Do:
                </th>
                <th>
                    Wiadomość:
                </th>
                <th>
                    Z dnia:
                </th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages_sent %}
            <tr>
                <td>
                    {{message.receiver}}
                </td>
                <td>
                    <a href="{% url 'details_message' message.id %}">{{message.content|truncatechars:25}}</a>
                </td>
                <td>
                    {{message.creation_date}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}

