{% extends 'base.html' %}
{% block title %}<title>Wizyty użytkownika</title>{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-left">
            <h3>Wszystkie pobyty na placyku użytkownika {{user.username}}:</h3>
        </div>
    </div>
    <hr>
    {% for visit in visits %}
    <div class="row">
        <div class="col-md-4 text-left">
            <h5>Placyk: {{visit.pground}}</h5>
        </div>
        <div class="col-md-1 text-left">
            <h5>Od: {{visit.time_from}}</h5>
        </div>
        <div class="col-md-1 text-left">
            <h5>Do: {{visit.time_to}}</h5>
        </div>
        <div class="col-md-1 text-left">
            <h5><a href='/delete_visit/{{visit.id}}'>Skasuj</a></h5>
        </div>
        <div class="col-md-2 text-left">
            <h5><a href='/edit_visit/{{visit.id}}'>Zmień czas pobytu</a></h5>
        </div>
    </div>
    {% endfor %}
    <br>
    <div class="row">
        <div class="col-md-12 text-left">
            <p><a href="/user_messages/{{user.id}}">Moje wiadomości</a></p>
            <p><a href="/reset_password/{{user.id}}">Zmień hasło</a></p>
            <p><a href='/home_login'>Strona główna</a></p>
        </div>
    </div>
</div>
{% endblock %}

<!--
    <form action='/new_message/{{user.id}}' method = 'post'>
        <input type="submit" value='Wyślij wiadomość'/>
        {% csrf_token %}
    </form>-->









